<!doctype html>
<html>
  <head>
    <title>LinkedIn Resume Infographic</title>
    <link href="/styles/main.css" media="all" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
  </head>
  <body>
    <header>
      <h1><%=@user['first_name']%>&nbsp;<%=@user['last_name']%></h1>
      <h2><%=@user['headline']%></h2>
    </header>

    <h3>Work Experience</h3>
    <div id="work" style="width:800px; height:200px;"></div>

    <h3>Education</h3>
    <div id="education" style="width:800px; height:200px;"></div>
    
    <div id="language" style="width:400px; height:400px;"></div>
    <div id="skills" width="400" height="400"></div>
  </body>
  <script>
    languageMapping = {25:'Basic', 50:'Good', 75:'Excellent', 100:'Mother Tongue'};
    
    //Global Settings
    Highcharts.setOptions({
      credits: {
        enabled: false
      },
      title: {
        text: null
      }
    });
    
    //Work Experience
    $('#work').highcharts({
      chart: {
          type: 'bar'
      },
      xAxis: {
          categories: [
            <% @user['positions'].each do |position| %>
              '<%=position['company_name']%>',
            <% end %>
          ],
          title: {
              text: null
          }
      },
      yAxis: {
          type: 'datetime',
          min: Date.UTC(<%=@user['positions'][-1]['start-date']%>, 0, 1),
          title: {
              text: null
          }
      },
      series: [{
          showInLegend: false, 
          data: [
            <% @user['positions'].each do |position| %>
            {
                low: Date.UTC(<%=position['start-date']%>, 0, 1),
                y: Date.UTC(<%=position['end-date']%>, 12, 31)
            },
            <% end %>
          ]
      }]
    });

    //Education
    $('#education').highcharts({
      chart: {
          type: 'bar'
      },
      xAxis: {
          categories: [
            <% @user['educations'].each do |education| %>
              '<%=education['school-name']%>',
            <% end %>
          ],
          title: {
              text: null
          }
      },
      yAxis: {
          type: 'datetime',
          min: Date.UTC(<%=@user['educations'][-1]['start-date']%>, 0, 1),
          title: {
              text: null
          }
      },
      series: [{
          showInLegend: false, 
          data: [
            <% @user['educations'].each do |education| %>
            {
                low: Date.UTC(<%=education['start-date']%>, 0, 1),
                y: Date.UTC(<%=education['end-date']%>, 12, 31)
            },
            <% end %>
          ]
      }]
    });

     
  </script>
</html>
