<!doctype html>
<html>
  <head>
    <title>LinkedIn Resume Infographic</title>
    <!--<link href="/styles/main.css" media="all" rel="stylesheet" type="text/css" />-->
    <style type="text/css">
      body {
          width: 1000px;
          margin: auto;
          font-family: cursive;
      }

      header {
        width:500px;
        margin: auto;
      }

      header img {
        float: left;
        width: 100px;
        height: 100px;
        margin-top: 10px;
      }

      #overview {
        float: left;
        margin-left: 20px;
      }

      h3 {
        clear: both;
        margin-left: 20px;
      }

      #skills {
        margin: auto;
      }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
  </head>
  <body>
    <header>
      <% if user.has_key?('picture-url') %>
        <img src="<%=user['picture-url']%>"/>
      <% else %>
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTLhXNzsP3_z9dfGKePGySFtxAMP_zR_N41harVJeDHM1otHEOoWVomD0YI"/>
      <% end %>
      <div id="overview">
        <h1><%=user['first_name']%>&nbsp;<%=user['last_name']%></h1>
        <h2><%=user['headline']%></h2>
      </div>
    </header>

    <h3>Work Experience</h3>
    <div id="work" style="width:900px;height:300px"></div>

    <h3>Education</h3>
    <div id="education" style="width:900px;height:200px"></div>
    
    <h3>Industries with Work Experience</h3>
    <div id="industries" style="width:800px; height:200px;"></div>

    <h3>Skills</h3>
    <div id="skills" width="400" height="400"></div>
  </body>
  <script>
    //Global Settings
    Highcharts.setOptions({
      credits: {
        enabled: false
      },
      title: {
        text: null
      },
      plotOptions: {
        series: {
          animation: false
        }, 
        column: {
          colorByPoint: true
        },
        bar: {
          colorByPoint: true
        }
      }
    });
    
    //Work Experience
    $('#work').highcharts({
      chart: {
          type: 'bar'
      },
      xAxis: {
          categories: [
            <% user['positions'].each do |position| %>
              "<%=position['title']%> <br/> <%=position['company_name']%>",
            <% end %>
          ],
          title: {
              text: null
          }
      },
      yAxis: {
          type: 'datetime',
          min: Date.UTC(<%=user['positions'][-1]['start-year']%>, 1, 1),
          title: {
              text: null
          }
      },
      series: [{
          showInLegend: false, 
          data: [
            <% user['positions'].each do |position| %>
            {
                low: Date.UTC(<%=position['start-year']%>, <%=position['start-month']%>, 1),
                y: Date.UTC(<%=position['end-year']%>, <%=position['end-month']%>, 31)
            },
            <% end %>
          ]
      }]
    });

    //Education
    $('#education').highcharts({
      chart: {
          type: 'bar'
      },
      xAxis: {
          categories: [
            <% user['educations'].each do |education| %>
              "<%=education['degree']%> <br/> <%=education['school-name']%>",
            <% end %>
          ],
          title: {
              text: null
          }
      },
      yAxis: {
          type: 'datetime',
          min: Date.UTC(<%=user['educations'][-1]['start-date']%>, 1, 1),
          title: {
              text: null
          }
      },
      series: [{
          showInLegend: false, 
          data: [
            <% user['educations'].each do |education| %>
            {
                low: Date.UTC(<%=education['start-date']%>, 1, 1),
                y: Date.UTC(<%=education['end-date']%>, 12, 31)
            },
            <% end %>
          ]
      }]
    });
    
    //Industries
    $('#industries').highcharts({
        chart: {
            type: 'bar'
        },
        xAxis: {

            categories: [
            <% user['industries'].each do |name, year| %>
              "<%=name%>",
            <% end %>
            ],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'years',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        series: [{
            showInLegend: false, 
            data: [
            <% user['industries'].each do |name, year| %>
              <%=year%>,
            <% end %>
            ]
        }]
    });

    //Skills
    $('#skills').highcharts({
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
      },
      plotOptions: {
          pie: {
              allowPointSelect: false,
              cursor: 'pointer',
              dataLabels: {
                  enabled: true,
                  color: '#000000',
                  connectorColor: '#000000',
                  format: '<b>{point.name}</b>'
              }
          }
      },
      series: [{
          type: 'pie',
          name: 'Browser share',
          data: [
              <% user['skills'].each do |skill|%>
              ['<%=skill%>',   1],
              <% end %>
          ]
      }]
    });
    
  </script>
</html>
